# IntelliJ IDEA files
out
.idea/
*.iml
**/*.iml

# Application stuff
felix-cache
plugins
.vertx

# gradle files
.gradle/
build
**/build/

# maven files
target
**/target/

# Error files generated when JavaFX crashes
hs_err_*
