.root {
    sfx-invalid-color: #a82525;
}

.plugin-file-button .icon.font-awesome {
    -fx-icon-color: black;
    -fx-icon-size: 50px;
}

.plugin-file-button .font-awesome.badge {
    -fx-icon-color: #449d44;
    -fx-icon-size: 20px;
    -fx-effect: dropshadow(gaussian, #5cb85c, 10, 0, 0, 0);
}

.plugin-file-button:selected {
     -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #449d44 0%, #5cb85c 100%);
}

.plugin-file-button:selected .font-awesome.badge {
    -fx-icon-color: yellow;
    -fx-effect: dropshadow(gaussian, yellow, 10, 0, 0, 0);
}

.titled-pane:invalid > .title {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #d63939 0%, sfx-invalid-color 100%);
}

.titled-pane:invalid > .title .text,
.titled-pane:invalid > .title .check-box {
    -fx-text-fill: white;
}

.titled-pane:invalid .title .text.error {
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-fill: -fx-text-fill;
    -fx-color: -fx-text-fill;
}

.titled-pane:invalid > .title > .arrow-button .arrow {
    -fx-background-color: white;
}

.titled-pane:invalid > .content {
    -fx-border-color: sfx-invalid-color;
}