.root {
    -fx-background-color: sfx-application-background-color;
    -fx-text-fill: sfx-text-fill;

    sfx-text-fill: #A9B7C6;
    sfx-application-background-color: #3C3F3F;

    /* Colors for arrows */
    sfx-arrow-background-color: #ADADAD;
    sfx-arrow-button-background-color: transparent;

    /* Colors for labels & texts */
    sfx-label-text-color: sfx-text-fill;
    sfx-text-text-color: sfx-label-text-color;

    /* Colors for tooltips */
    sfx-tooltip-background-color: #2B2B2B;
    sfx-tooltip-text-color: sfx-text-fill;

    /* Colors for separators */
    sfx-separator-horizontal-color: #5F5F5F transparent transparent transparent;
    sfx-separator-vertical-color: transparent #5F5F5F transparent transparent;

    sfx-menu-bar-background-color: #3C3F3F;

    sfx-menu-background-color: sfx-menu-bar-background-color;
    sfx-menu-background-hover-color: #103750;
    sfx-menu-background-showing-color: sfx-menu-background-hover-color;

    sfx-menu-text-color: sfx-text-fill;
    sfx-menu-text-hover-color: sfx-menu-text-color;
    sfx-menu-text-showing-color: sfx-menu-text-hover-color;

    sfx-menu-item-background-hover-color: sfx-menu-background-hover-color;
    sfx-menu-item-background-showing-color: sfx-menu-item-background-hover-color;
    sfx-menu-item-text-color: sfx-menu-text-color;
    sfx-menu-item-text-hover-color: sfx-menu-text-hover-color;
    sfx-menu-item-text-showing-color: sfx-menu-item-text-hover-color;

    sfx-context-menu-background-color: sfx-menu-background-color;
    sfx-context-menu-background-showing-color: sfx-menu-background-color;

    /* Colors for text inputs */
    sfx-text-input-background-color: #2B2B2B;
    sfx-text-input-text-color: sfx-text-fill;
    sfx-text-input-prompt-text-color: #414142;

    /* Colors for extended text fields */
    sfx-extended-text-field-text-color: #5F5F5F;
    sfx-extended-text-field-text-focused-color: #FF8000;
    sfx-extended-text-field-background-error-color1: #BC3F3C;
    sfx-extended-text-field-background-error-color2: #2B2B2B;

    /* Colors for toolbars */
    sfx-tool-bar-background-color: sfx-application-background-color;
    sfx-tool-bar-text-color: sfx-text-fill;

    /* Colors for buttons */
    sfx-button-background-color: transparent;
    sfx-button-background-hover-color: #686B6D;
    sfx-button-background-pressed-color: #2B2B2B;
    sfx-button-background-selected-color: sfx-button-background-pressed-color;
    sfx-button-border-color: #5F5F5F;
    sfx-button-border-hover-color: #8C9297;
    sfx-button-border-pressed-color: #FF8000;
    sfx-button-border-selected-color: sfx-button-border-pressed-color;
    sfx-button-text-color: sfx-text-fill;

    /* Colors for combo boxes */
    sfx-combo-box-background-color: sfx-button-background-color;
    sfx-combo-box-background-pressed-color: sfx-button-background-pressed-color;
    sfx-combo-box-border-color: sfx-button-border-color;
    sfx-combo-box-border-hover-color: sfx-button-border-hover-color;
    sfx-combo-box-border-pressed-color: sfx-button-border-pressed-color;
    sfx-combo-box-cell-background-hover-color: sfx-menu-background-hover-color;
    sfx-combo-box-text-color: sfx-text-fill;

    /* Colors for checkable controls */
    sfx-checkable-background-color: #2B2B2B;
    sfx-checkable-background-selected-color: sfx-checkable-background-color;
    sfx-checkable-border-color: #B1B1B1;
    sfx-checkable-border-selected-color: sfx-checkable-border-color;
    sfx-checkable-text-color: sfx-text-fill;
    sfx-checkable-graphic-background-color: #FF8000;

    /* Colors for tab panes */
    sfx-tab-pane-header-background-color: #2B2B2B;
    sfx-tab-pane-tab-background-color: derive(sfx-tab-pane-header-background-color, 10%);
    sfx-tab-pane-tab-background-selected-color: derive(sfx-tab-pane-header-background-color, 30%);
    sfx-tab-pane-tab-text-color: sfx-text-fill;
    sfx-tab-pane-tab-border-color: black;
    sfx-tab-pane-tab-border-selected-color: derive(sfx-tab-pane-header-background-color, 20%);
    sfx-tab-pane-tab-close-button-background-color: #A9B7C6;
    sfx-tab-pane-tab-close-button-opacity: 0.3;
    sfx-tab-pane-tab-close-button-opacity-hover: 0.6;
    sfx-tab-pane-content-area-background-color: sfx-tab-pane-header-background-color;
    sfx-tab-pane-content-area-border-color: black;

    /* Colors for titled panes */
    sfx-titled-pane-background-color: sfx-application-background-color;
    sfx-titled-pane-text-color: sfx-text-fill;
    sfx-titled-pane-title-background-color: derive(#2B2B2B, 10%);
    sfx-titled-pane-border-valid-drag-over-color: #A9B7C6;

    /* Colors for split panes */
    sfx-split-pane-background-color: #3C3F3F;
    sfx-split-pane-border-color: transparent transparent #282828 transparent;
    sfx-split-pane-grabber-background-color: #2B2B2B;
    sfx-split-pane-divider-border-color: transparent transparent transparent #5F5F5F;

    /* Colors for dialog panes */
    sfx-dialog-pane-header-background-color: transparent;

    /* Colors for scroll panes */
    sfx-scroll-pane-background-color: #3C3F3F;

    /* Colors for scroll bars */
    sfx-scroll-bar-main-background-color: #3C3F3F;
    sfx-scroll-bar-thumb-background-color: #585858;

    /* Colors for progress bars */
    sfx-progress-bar-background-color: #2B2B2B;
    sfx-progress-bar-track-background-color: sfx-progress-bar-background-color;
    sfx-progress-bar-track-text-box-border-color: sfx-text-fill;

    /* Colors for progress indicators */
    sfx-progress-indicator-color: #FF8000;

    /* Colors for icons */
    sfx-font-awesome-color: #FF8000;
    sfx-icon-stack-icon-0-color: white;
    sfx-icon-stack-icon-1-color: #FF8000;

    /* Colors for list cells */
    sfx-list-cell-background-color: #3C3F3F;
    sfx-list-cell-background-empty-color: sfx-list-cell-background-color;
    sfx-list-cell-background-filled-color: sfx-list-cell-background-color;
    sfx-list-cell-background-hover-color: #103750;
    sfx-list-cell-background-selected-color: sfx-list-cell-background-hover-color;
    sfx-list-cell-text-color: sfx-text-fill;
    sfx-list-cell-text-hover-color: sfx-list-cell-text-color;
    sfx-list-cell-text-selected-color: sfx-list-cell-text-hover-color;

    /* Colors for the recent presentations view */
    sfx-recent-presentations-view-background-color: derive(sfx-application-background-color, -50%);
    sfx-recent-presentations-view-title-text-color: #FFFFFF;
    sfx-recent-presentations-view-border-color: derive(sfx-recent-presentations-view-background-color, 80%);

    /* Colors for recent presentation list cell */
    sfx-recent-presentation-list-cell-presentation-name-text-color: sfx-text-fill;
    sfx-recent-presentation-list-cell-presentation-name-text-selected-color: sfx-recent-presentation-list-cell-presentation-name-text-color;
    sfx-recent-presentation-list-cell-presentation-name-text-hover-color: sfx-recent-presentation-list-cell-presentation-name-text-selected-color;
    sfx-recent-presentation-list-cell-presentation-path-text-color: #8F8F8F;
    sfx-recent-presentation-list-cell-presentation-path-text-selected-color: sfx-recent-presentation-list-cell-presentation-path-text-color;
    sfx-recent-presentation-list-cell-presentation-path-text-hover-color: sfx-recent-presentation-list-cell-presentation-path-text-color;

    /* Colors for tree cells */
    sfx-tree-cell-background-color: #3C3F3F;
    sfx-tree-cell-background-selected-color: #103750;
    sfx-tree-cell-text-color: sfx-text-fill;
    sfx-tree-cell-text-selected-color: sfx-tree-cell-text-color;

    /* Colors for table cells */
    sfx-table-header-background-color: derive(sfx-tab-pane-header-background-color, 10%);
    sfx-table-cell-background-even-color: derive(#3C3F3F, 10%);
    sfx-table-cell-background-odd-color: #3C3F3F;
    sfx-table-cell-background-selected-color: #103750;
    sfx-table-cell-text-selected-color: sfx-text-fill;

    /* Colors for messages boxes */
    sfx-messages-box-border-color: #FF8000;
    sfx-messages-box-background-color: derive(sfx-messages-box-border-color, 90%);
    sfx-messages-box-text-color: #FF8000;

    /* Colors for list views */
    sfx-list-view-background-color: #2B2B2B, #2B2B2B;
    sfx-list-view-background-focused-color: transparent, sfx-list-view-background-color, transparent;

    /* Colors for plugin file buttons */
    sfx-plugin-file-button-background-selected-color: linear-gradient(from 50% 0% to 50% 100%, #449d44 0%, #5cb85c 100%);
    sfx-plugin-file-button-icon-color: black;
    sfx-plugin-file-button-text-color: sfx-text-fill;
    sfx-plugin-file-button-text-selected-color: black;
    sfx-plugin-file-button-tooltip-text-color: sfx-text-fill;

    /* Colors for notifications */
    sfx-notification-state-icon-failed-task-color: #FF8000;
    sfx-notification-state-icon-successful-task-color: green;

    /* Colors for the collapsible tool pane */
    sfx-collapsible-tool-pane-icon-color: #FF8000;
    sfx-collapsible-tool-pane-button-hover-color: rgba(128,128,128,0.8);
    sfx-collapsible-tool-pane-button-border-selected-color: orange;

    /* Colors for the server button */
    sfx-server-button-start-server-color: green;
    sfx-server-button-stop-server-color: #FF8000;

    /* Colors for the opened presentations tab pane */
    sfx-opened-presentations-tab-pane-background-color: #2B2B2B;
    sfx-opened-presentations-tab-pane-border-valid-drag-over-color: #A9B7C6;
    sfx-opened-presentations-tab-pane-border-invalid-drag-over-color: #BC3F3C;

    /* Colors for the internal browser */
    sfx-internal-browser-address-bar-border-color: white;

    /* Colors for the template builder */
    sfx-template-builder-tree-cell-icon-color: #A9B7C6;
    sfx-template-builder-tree-cell-icon-valid-drag-color: #FF8000;
    sfx-template-builder-add-icon-color: #FF8000;
    sfx-template-builder-add-icon-hover-color: #8C9297;
    sfx-template-builder-delete-icon-color: sfx-template-builder-add-icon-color;
    sfx-template-builder-delete-icon-hover-color: sfx-template-builder-delete-icon-color;

    /* Colors for the information pane */
    sfx-information-pane-background-color: sfx-application-background-color;
    sfx-information-pane-text-color: sfx-text-fill;

    /* Colors for the chat panel */
    sfx-chat-panel-background-color: transparent;
    sfx-chat-panel-empty-message-stack-icon-stack-icon-0-color: white;
    sfx-chat-panel-empty-message-stack-icon-stack-icon-1-color: rgba(255, 0, 0, 0.5);
    sfx-chat-panel-chat-bubble-background-color: rgba(128, 128, 128, 0.8);
    sfx-chat-panel-chat-bubble-answered-background-color: rgba(208, 245, 169, 0.8);
    sfx-chat-panel-chat-bubble-border-color: rgba(102, 102, 102, 0.8);
    sfx-chat-panel-chat-bubble-answered-border-color: rgba(175, 207, 143, 0.8);
    sfx-chat-panel-message-author-text-color: white;
    sfx-chat-panel-message-author-answered-text-color: black;
    sfx-chat-panel-message-content-text-color: white;
    sfx-chat-panel-message-content-answered-text-color: black;

    /* Colors for the quiz panel */
    sfx-quiz-panel-dropshadow-color: rgba(0, 0, 0, 0.1);
    sfx-quiz-panel-chart-background-color: rgba(128, 128, 128, 0.8);
    sfx-quiz-panel-chart-title-text-color: white;
    sfx-quiz-panel-chart-title-background-color: white;

    /* Colors for the QRCode panel */
    sfx-qrcode-panel-dropshadow-color: rgba(0, 0, 0, 0.1);
    sfx-qrcode-panel-background-color: rgba(128, 128, 128, 0.8);
    sfx-qrcode-panel-panel-text-text-color: white;
}