html {
	font-family: 'Arial';
}

h2 {
	color: darkred;
	border-bottom: 1px darkred solid;
}

h3 {
	padding-left: 20px
}

h4 {
	padding-left: 40px;
}

.toc {
    background-color: lightgray;
}