html {
	font-family: 'Verdana';
	background-color: whitesmoke;
}

h1, h2, h3, h4, h5 {
    color: #FF8000;
}

h2 {
	border-bottom: 1px #FF8000 solid;
}

h3 {
	padding-left: 20px
}

h4 {
	padding-left: 40px;
}

a,
a:visited {
    color: #FF8000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#toc a {
    color: #FF8000;
    text-decoration: none;
}