.arrow {
    -fx-background-color: sfx-arrow-background-color;
}

.arrow-button {
    -fx-background-color: sfx-arrow-button-background-color;
}

.label {
    -fx-text-fill: sfx-label-text-color;
}

.text {
    -fx-fill: sfx-text-text-color;
    -fx-color: -fx-fill;
    -fx-text-fill: -fx-fill;
}

.tooltip {
    -fx-background-color: sfx-tooltip-background-color;
}
.tooltip > .text {
    -fx-fill: sfx-tooltip-text-color;
}

.separator:vertical .line {
    -fx-border-color: sfx-separator-vertical-color;
    -fx-border-width: 0 2px 0 0;
    -fx-border-style: none dotted none none;
}

.separator:horizontal .line {
    -fx-border-color: sfx-separator-horizontal-color;
    -fx-border-width: 2px 0 0 0;
    -fx-border-style: dotted none none none;
}

.font-awesome {
    -fx-icon-color: sfx-font-awesome-color;
    -fx-icon-size: 20px;
}

.icon-stack .font-awesome.default-icon-color-0 {
    -fx-icon-color: sfx-icon-stack-icon-0-color;
}
.icon-stack .font-awesome.default-icon-color-1 {
    -fx-icon-color: sfx-icon-stack-icon-1-color;
}

.list-cell,
.list-cell:empty,
.list-cell:filled {
    -fx-background-color: sfx-list-cell-background-color;
    -fx-text-fill: sfx-list-cell-text-color;
}
.list-cell:filled:hover {
    -fx-background-color: sfx-list-cell-background-hover-color;
    -fx-text-fill: sfx-list-cell-text-hover-color;
}
.list-cell:filled:selected {
    -fx-background-color: sfx-list-cell-background-selected-color;
}
.list-cell:filled:hover .text {
    -fx-fill: sfx-list-cell-text-hover-color;
}
.list-cell:filled:selected .text {
    -fx-fill: sfx-list-cell-text-selected-color;
}

.column-header-background,
.column-header-background .filler,
.column-header {
    -fx-background-color: sfx-table-header-background-color;
}
.table-row-cell {
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-row-cell:even {
    -fx-background-color: sfx-table-cell-background-even-color;
}
.table-row-cell:odd {
    -fx-background-color: sfx-table-cell-background-odd-color;
}
.table-row-cell:selected {
    -fx-background-color: sfx-table-cell-background-selected-color;
}
.table-row-cell:filled:selected .text {
    -fx-fill: sfx-table-cell-text-selected-color;
}

.tree-cell,
.tree-cell:empty,
.tree-cell:filled {
    -fx-background-color: sfx-tree-cell-background-color;
    -fx-text-fill: sfx-tree-cell-text-color;
}
.tree-cell:filled:selected {
    -fx-background-color: sfx-tree-cell-background-selected-color;
}
.tree-cell:filled:selected .text {
    -fx-fill: sfx-tree-cell-text-selected-color;
}
.tree-cell .font-awesome {
    -fx-icon-size: 10pt;
}

.messages-box {
    -fx-background-color: sfx-messages-box-background-color;
    -fx-border-color: sfx-messages-box-border-color;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
}
.messages-box .label, .messages-box .text, .messages-box .hyperlink {
    -fx-fill: sfx-messages-box-text-color;
    -fx-text-fill: -fx-fill;
    -fx-color: -fx-fill;
}

.menu-bar {
    -fx-background-color: sfx-menu-bar-background-color;
}

.context-menu {
    -fx-background-color: sfx-context-menu-background-color;
    -fx-border-width: 1.5px 0 0 0;
}

.context-menu:showing {
    -fx-background-color: sfx-context-menu-background-showing-color;
}

.menu {
    -fx-background-color: sfx-menu-background-color;
}
.menu:hover {
    -fx-background-color: sfx-menu-background-hover-color;
}
.menu:showing {
    -fx-background-color: sfx-menu-background-showing-color;
}
.menu > .label > .text {
    -fx-fill: sfx-menu-text-color;
}
.menu:hover > .label > .text {
    -fx-fill: sfx-menu-text-hover-color;
}
.menu:showing >.label > .text {
    -fx-fill: sfx-menu-text-showing-color;
}

.menu-item {
    -fx-background-color: transparent;
}
.menu-item:hover {
    -fx-background-color: sfx-menu-item-background-hover-color;
}
.menu-item:showing {
    -fx-background-color: sfx-menu-item-background-showing-color;
}
.menu-item > .label {
    -fx-background-color: transparent;
}
.menu-item > .label > .text {
    -fx-fill: sfx-menu-item-text-color;
}
.menu-item:hover > .label > .text  {
    -fx-fill: sfx-menu-item-text-hover-color;
}
.menu-item:showing > .label > .text {
    -fx-fill: sfx-menu-item-text-showing-color;
}

.text-area,
.text-area .content,
.text-field {
    -fx-background-color: sfx-text-input-background-color;
    -fx-text-fill: sfx-text-input-text-color;
    -fx-prompt-text-fill: sfx-text-input-prompt-text-color;
    -fx-border-radius: 2 2 2 2;
}

.extended-text-field .label .text {
    -fx-fill: sfx-extended-text-field-text-color;
    -fx-font-size: 11px;
}

.extended-text-field .label:focused .text {
    -fx-fill: sfx-extended-text-field-text-focused-color;
}

.extended-text-field .text-field:error {
    -fx-background-color: sfx-extended-text-field-background-error-color1, sfx-extended-text-field-background-error-color2;
}

.tool-bar {
    -fx-background-color: sfx-tool-bar-background-color;
    -fx-text-fill: sfx-tool-bar-text-color;
    -fx-border-style: none;
}

.button {
    -fx-background-color: sfx-button-background-color;
    -fx-text-fill: sfx-button-text-color;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: sfx-button-border-color;
}
/* This class can be set to each button containing an image in order to "select" them and apply the style */
.button.image {
    -fx-border-color: transparent;
}
.button:hover,
.button.image:hover {
    -fx-background-color: sfx-button-background-hover-color;
    -fx-border-color: sfx-button-border-hover-color;
}
.button:pressed,
.button.image:pressed {
    -fx-background-color: sfx-button-background-pressed-color;
    -fx-border-color: sfx-button-border-pressed-color;
}

.split-menu-button {
    -fx-background-color: sfx-button-background-color;
    -fx-border-color: sfx-button-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
.split-menu-button:hover {
    -fx-border-color: sfx-button-border-hover-color;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.split-menu-button:pressed,
.split-menu-button:showing {
    -fx-background-color: sfx-button-background-pressed-color;
    -fx-border-color: sfx-button-border-pressed-color;
}

.split-menu-button > .label {
    -fx-background-color: sfx-button-background-color;
    -fx-text-fill: sfx-button-text-color;
}

.toggle-button {
    -fx-background-color: sfx-button-background-color;
    -fx-border-color: sfx-button-border-color;
    -fx-text-fill: sfx-button-text-color;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.toggle-button:hover {
    -fx-background-color: sfx-button-background-hover-color;
    -fx-border-color: sfx-button-border-hover-color;
}
.toggle-button:selected {
    -fx-background-color: sfx-button-background-selected-color;
    -fx-border-color: sfx-button-border-selected-color;
}

.combo-box {
    -fx-background-color: sfx-combo-box-background-color;
    -fx-border-color: sfx-combo-box-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
.combo-box:hover {
    -fx-border-color: sfx-combo-box-border-hover-color;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}
.combo-box:showing,
.combo-box:pressed {
    -fx-background-color: sfx-combo-box-background-pressed-color;
    -fx-border-color: sfx-combo-box-border-pressed-color;
}
.combo-box:armed,
.combo-box:focused,
.combo-box:focused .text-input {
    -fx-focus-effect: none;
    -fx-focus-color: transparent;
}
.combo-box .label {
    -fx-text-fill: sfx-combo-box-text-color;
}
.combo-box:pressed .list-cell,
.combo-box:showing .list-cell,
.combo-box:showing .text-input {
    -fx-background-color: sfx-combo-box-background-pressed-color;
}
.combo-box:showing .list-cell:hover {
    -fx-background-color: sfx-combo-box-cell-background-hover-color;
}
.combo-box > .list-cell {
    -fx-background-color: transparent;
}
.combo-box > .list-cell > .text {
    -fx-fill: sfx-combo-box-text-color;
}

.radio-button,
.check-box {
    -fx-text-fill: sfx-checkable-text-color;
}
.radio-button > .radio {
    -fx-background-color: sfx-checkable-background-color;
    -fx-border-color: sfx-checkable-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
}
.radio-button:selected > .radio,
.radio-button:focused > .radio,
.check-box:selected > .box,
.check-box:focused > .box {
    -fx-background-color: sfx-checkable-background-selected-color;
    -fx-border-color: sfx-checkable-border-selected-color;
}
.radio-button:selected > .radio > .dot,
.radio-button:focused:selected > .radio > .dot {
    -fx-background-insets: 0, 0;
    -fx-background-color: sfx-checkable-graphic-background-color;
}

.check-box > .box {
    -fx-background-color: sfx-checkable-background-color;
    -fx-border-color: sfx-checkable-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
}
.check-box:selected > .box > .mark,
.check-box:focused:selected > .box > .mark {
    -fx-background-color: sfx-checkable-graphic-background-color;
}

.tab-pane {
    -fx-border-width: 0px;
}
.tab-pane .tab-header-background,
.tab-pane .tab-header-area {
    -fx-background-color: sfx-tab-pane-header-background-color;
}
.tab-pane .tab {
    -fx-background-color: sfx-tab-pane-tab-background-color;
    -fx-text-fill: sfx-tab-pane-tab-text-color;
    -fx-border-color: sfx-tab-pane-tab-border-color;
    -fx-border-style: solid solid none solid;
    -fx-border-width: 0.5px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.tab-pane .tab .tab-label {
    -fx-text-fill: sfx-tab-pane-tab-text-color;
}
.tab-pane .tab:selected {
     -fx-background-color: sfx-tab-pane-tab-background-selected-color;
     -fx-border-color: sfx-tab-pane-tab-border-selected-color;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent, transparent;
    -fx-border-style: none, none;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: sfx-tab-pane-tab-close-button-background-color;
    -fx-opacity: sfx-tab-pane-tab-close-button-opacity;
    -fx-effect: none;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-opacity: sfx-tab-pane-tab-close-button-opacity-hover;
}
.tab-pane .tab-content-area {
    -fx-border-color: sfx-tab-pane-content-area-border-color;
    -fx-border-width: 1px 0 0 0;
    -fx-border-style: solid none none none;
}
.tab-pane .tab-content-area .viewport {
    -fx-background-color: sfx-tab-pane-content-area-background-color;
}

.titled-pane:expanded {
    -fx-text-fill: sfx-titled-pane-text-color;
}
.titled-pane > .title {
    -fx-background-color: sfx-titled-pane-title-background-color;
}
.titled-pane > .content {
    -fx-background-color: sfx-titled-pane-background-color;
}
.titled-pane > .content,
.titled-pane:expanded > .content {
    -fx-border-width: 0;
}
.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-effect: none;
}
.titled-pane:valid-drag-over {
    -fx-border-color: sfx-titled-pane-border-valid-drag-over-color;
    -fx-border-style: dashed inside;
    -fx-border-width: 3px;
}

.split-pane {
    -fx-background-color: sfx-split-pane-background-color;
    -fx-border-color: sfx-split-pane-border-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
.split-pane *.horizontal-grabber {
    -fx-background-color: sfx-split-pane-grabber-background-color;
}
.split-pane-divider {
    -fx-border-color: sfx-split-pane-divider-border-color;
    -fx-padding: 0 0 0 0;
    -fx-border-style: none none none solid;
    -fx-border-width: 0 0 0 1px;
}

.dialog-pane .header-panel {
    -fx-background-color: sfx-dialog-pane-header-background-color;
}

.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane .corner {
    -fx-background-color: sfx-scroll-pane-background-color;
}

.scroll-bar {
    -fx-background: sfx-scroll-bar-main-background-color;
}
.scroll-bar,
.scroll-bar .track,
.scroll-bar .track-background,
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: sfx-scroll-bar-main-background-color;
}
.scroll-bar .thumb {
    -fx-background-color: sfx-scroll-bar-thumb-background-color;
}

.progress-bar {
    -fx-background-color: sfx-progress-bar-background-color;
    -fx-accent: sfx-progress-indicator-color;
}
.progress-bar > .track {
    -fx-text-box-border: sfx-progress-bar-track-text-box-border-color;
    -fx-background-color: sfx-progress-bar-track-background-color;
}
.progress-bar > .bar {
    -fx-padding: 5px;
    -fx-background-insets: 0;
}

.progress-indicator {
    -fx-progress-color: sfx-progress-indicator-color;
}

.list-view  {
    -fx-background-color: sfx-list-view-background-color;
}
.list-view:focused  {
    -fx-background-color: sfx-list-view-background-focused-color;
}

.plugin-file-button .icon.font-awesome {
    -fx-icon-color: sfx-plugin-file-button-icon-color;
    -fx-icon-size: 50px;
}
.plugin-file-button .tooltip {
    -fx-text-fill: sfx-plugin-file-button-tooltip-text-color;
}
.plugin-file-button, .plugin-file-button .text {
     -fx-fill: sfx-plugin-file-button-text-color;
     -fx-color: -fx-fill;
     -fx-text-fill: -fx-fill;
}
.plugin-file-button:selected .text {
    -fx-fill: sfx-plugin-file-button-text-selected-color;
    -fx-color: -fx-fill;
    -fx-text-fill: -fx-fill;
}
.plugin-file-button:selected {
     -fx-background-color: sfx-plugin-file-button-background-selected-color;
     -fx-text-fill: sfx-plugin-file-button-text-selected-color;
}

.notification-item .font-awesome:successful-task {
    -fx-icon-color: sfx-notification-state-icon-successful-task-color;
}
.notification-item .font-awesome:failed-task {
    -fx-icon-color: sfx-notification-state-icon-failed-task-color;
}
.button.notification, .button.notification:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.notification.title, .notification.title:hover {
    -fx-font-size: 12px;
}
.notification.time, .notification.time:hover {
    -fx-font-size: 10px;
}

.presentation-variables-panel .icon-stack .font-awesome.icon-index-0 {
    -fx-icon-size: 20px;
}
.presentation-variables-panel .icon-stack .font-awesome.icon-index-1 {
    -fx-icon-size: 15px;
}

.collapsible-tool-pane .toggle-button:left {
    -fx-border-width: 0 2px 0 0;
}

.collapsible-tool-pane .toggle-button:right {
    -fx-border-width: 0 0 0 2px;
}

.collapsible-tool-pane .toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-background-radius: 0;
}

.collapsible-tool-pane .toggle-button:hover {
    -fx-background-color: sfx-collapsible-tool-pane-button-hover-color;
}

.collapsible-tool-pane .toggle-button:selected {
    -fx-border-color: sfx-collapsible-tool-pane-button-border-selected-color;
}

.slideshow-pane .collapsible-tool-pane .font-awesome {
    -fx-icon-color: sfx-collapsible-tool-pane-icon-color;
    -fx-icon-size: 32px;
}

.information-scene {
    -fx-background-color: sfx-information-pane-background-color;
}
.information-scene .current-time,
.information-scene .time-elapsed {
	-fx-font-family: 'Inconsolata';
}
.information-scene .current-time,
.information-scene .time-elapsed,
.information-scene .speaker-notes {
    -fx-fill: sfx-text-fill;
}
.information-scene .current-time {
    -fx-font-size: 30px;
}
.information-scene .time-elapsed {
    -fx-fill: sfx-text-fill;
    -fx-font-size: 100px;
}
.information-scene .speaker-notes-pane {
	-fx-background-color: transparent;
    -fx-background: transparent;
}
.information-scene .speaker-notes {
	-fx-font-size: 30px;
}

.about-stage {
    -fx-background-color: transparent;
}

.chat-panel {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.chat-panel .chat-bubble {
    -fx-background-color: sfx-chat-panel-chat-bubble-background-color;
    -fx-background-radius: 5px;

}

.chat-panel .chat-bubble:answered {
    -fx-background-color: sfx-chat-panel-chat-bubble-answered-background-color;
}

.chat-panel .chat-bubble .message-author {
    -fx-text-fill: sfx-chat-panel-message-author-text-color;
    -fx-color: -fx-text-fill;
    -fx-fill: -fx-text-fill;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-padding: 5px 0 0 5px;
}

.chat-panel .chat-bubble .message-author:answered {
    -fx-text-fill: sfx-chat-panel-message-author-answered-text-color;
    -fx-color: -fx-text-fill;
    -fx-fill: -fx-text-fill;
}

.chat-panel .chat-bubble .message-content {
    -fx-text-fill: sfx-chat-panel-message-content-text-color;
    -fx-color: -fx-text-fill;
    -fx-fill: -fx-text-fill;
    -fx-text-alignment: justify;
    -fx-padding: 5px 0 0 15px;
}

.chat-panel .chat-bubble .message-content:answered {
    -fx-text-fill: sfx-chat-panel-message-content-answered-text-color;
    -fx-color: -fx-text-fill;
    -fx-fill: -fx-text-fill;
}

.quiz-panel .default-color0.chart-pie { -fx-pie-color: #adff2f; }
.quiz-panel .default-color1.chart-pie { -fx-pie-color: #ff5700; }

.quiz-panel .chart {
    -fx-background-color: sfx-quiz-panel-chart-background-color;
    -fx-background-radius: 5px;
}

.quiz-panel .chart-title {
    -fx-text-fill: sfx-quiz-panel-chart-title-text-color;
    -fx-background-color: sfx-quiz-panel-chart-title-background-color;
    -fx-background-radius: 5px;
    -fx-padding: 0 20px 0 20px;
}

.qrcode-panel {
    -fx-background-color: sfx-qrcode-panel-background-color;
    -fx-background-radius: 5px;
}

.qrcode-panel .panel-text {
    -fx-text-fill: sfx-qrcode-panel-panel-text-text-color;
    -fx-fill: -fx-text-fill;
    -fx-color: -fx-text-fill;
    -fx-font-size: 15pt;
}

/* CSS for elements identified by their ID */

/*******************/
/**** Main view ****/
/*******************/

#loadTemplate_cog_icon.font-awesome,
#addSlideButton_plus_icon.font-awesome,
#deleteSlide_times_icon.font-awesome {
    -fx-icon-size: 10px;
}

#serverButton:start-server .font-awesome {
    -fx-icon-color: sfx-server-button-start-server-color;
}
#serverButton:stop-server .font-awesome {
    -fx-icon-color: sfx-server-button-stop-server-color;
}

#openedPresentationsTabPane {
    -fx-background-color: sfx-opened-presentations-tab-pane-background-color;
    -fx-background-image: url(../images/dark-logo.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-border-style: none;
}
#openedPresentationsTabPane:valid-drag-over {
    -fx-border-color: sfx-opened-presentations-tab-pane-border-valid-drag-over-color;
    -fx-border-style: dashed inside;
    -fx-border-width: 3px;
}
#openedPresentationsTabPane:invalid-drag-over {
    -fx-border-color: sfx-opened-presentations-tab-pane-border-invalid-drag-over-color;
    -fx-border-style: dashed inside;
    -fx-border-width: 3px;
}

/**********************/
/**** Options view ****/
/**********************/

#snippetExecutorContainer .text-field {
	-fx-background-color: sfx-snippet-executor-container-text-field-background-color-1, sfx-snippet-executor-container-text-field-background-color-2;
}

/**************************/
/**** Internal browser ****/
/**************************/

#addressBar {
    -fx-border-color: sfx-internal-browser-address-bar-border-color;
    -fx-background-radius: 10px;
    -fx-border-width: 0.5px;
}

#addressPanel {
    -fx-padding: 10px 0 0 0;
}

/**************************/
/**** Template builder ****/
/**************************/

#addFileButton_plus_icon.font-awesome,
#addFolderButton_plus_icon.font-awesome {
    -fx-icon-size: 10px;
}

#templateBuilder .template-tree-view .tree-cell .font-awesome {
    -fx-icon-color: sfx-template-builder-tree-cell-icon-color;
}

#templateBuilder .template-tree-view .tree-cell:validDrag .font-awesome,
#templateBuilder .template-tree-view .tree-cell:validDrag .text {
    -fx-fill: sfx-template-builder-tree-cell-icon-valid-drag-color;
    -fx-icon-color: -fx-fill;
}

#templateBuilder .template-element-delete-button,
#templateBuilder .template-element-delete-button:hover {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

#templateBuilder .add-icon {
    -fx-fill: sfx-template-builder-add-icon-color;
}
#templateBuilder .add-icon:hover {
    -fx-fill: sfx-template-builder-add-icon-hover-color;
}

#templateBuilder .button.delete-template-variable .font-awesome,
#templateBuilder .button.delete-slide .font-awesome,
#templateBuilder .button.delete-slide-element .font-awesome {
    -fx-icon-color: sfx-template-builder-delete-icon-color;
}

#templateBuilder .button.delete-template-variable:hover .font-awesome,
#templateBuilder .button.delete-slide:hover .font-awesome,
#templateBuilder .button.delete-slide-element:hover .font-awesome {
    -fx-icon-color: sfx-template-builder-delete-icon-hover-color;
}

/************************/
/**** Quiz extension ****/
/************************/

#quiz-content-extension-question-icon.font-awesome {
    -fx-icon-size: 25px;
}