.toggle-button {
    -fx-background-color: transparent;
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-background-radius: 0;
}

.toggle-button:hover {
    -fx-background-color: RGBA(128,128,128,0.8);
}

.toggle-button:selected {
    -fx-border-color: orange;
}