.noDragActive {
    -fx-border-style: dashed;
    -fx-border-width: 3px;
    -fx-border-color: transparent;
}

.validDragOver {
    -fx-border-color: app-color-text-fill;
}

.invalidDragOver {
    -fx-border-color: app-color-error;
}
