.noDragActive {
    -fx-border-style: none;
}

.validDragOver {
    -fx-border-style: dashed inside;
    -fx-border-width: 3px;
    -fx-border-color: app-color-text-fill;
}

.invalidDragOver {
    -fx-border-style: dashed inside;
    -fx-border-width: 3px;
    -fx-border-color: app-color-error;
}

#openedPresentationsTabPane {
    -fx-background-color: app-color-input-background;
    -fx-background-image: url(../images/dark-logo.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button.notification, .button.notification:hover {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.notification.title, .notification.title:hover {
    -fx-font-size: 12px;
}

.notification.time, .notification.time:hover {
    -fx-font-size: 10px;
}