/* GLOBAL STYLES */
body {
    width: 100%;
    margin: auto;
}

.hide { display: none; }

.show { display: block; }

.custom-button {
    height: 30px;
    border-radius: 8px;
    border: 2px solid gray;
    color: gray;
    background-color: #EFEFEF;
    cursor: pointer;
}

.width-to-container {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#page {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* HEADER STYLE */
#header {
    background: whitesmoke;
    color: gray;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display: flex;
}

/* #header div:first-child {
    float: left;
    padding: 10 px;
    margin-left: 5px;
} */

/* MENU STYLE */
#menu {
    padding-top: 15px;
    padding-right: 15px;
    height: 100%;
    text-align: right;
    flex-grow: 1;
}

#menu i {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom-style: none;
    border-bottom-width: 0;
}

#menu span.active,
#menu span:hover {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    padding-bottom: 12px;
    cursor: pointer;
}

/* CONTENT STYLE */
#content {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* CONNECTION FORM STYLE */
#connection-form { text-align: center; }

#attendee-name-text, #attendee-name-text:focus {
    border-radius: 8px;
    color: black;
    border: 1px solid gray;
    padding: 8px;
    background-color: #EFEFEF;
}

#attendee-name-text, #attendee-name-text:focus { color: black; }

#attendee-name-text::-webkit-input-placeholder {
    color:    gray;
    font-weight: bold;
    font-style: italic;
}
#attendee-name-text:-moz-placeholder {
    color:    gray;
    font-weight: bold;
    font-style: italic;
}
#attendee-name-text:-ms-input-placeholder{
    color:    gray;
    font-weight: bold;
    font-style: italic;
}
#attendee-name-text::-moz-placeholder {
    color:    gray;
    font-weight: bold;
    font-style: italic;
}

.connect-button {
    margin-top: 10px;
}

/* CHAT STYLE */
#chat-messages {
    margin-bottom: 5px;
    overflow-y: auto;
    height: 200px;
}

#send-message-button { margin-top: 10px; }

.chat-message {
    background-color: #EFEFEF;
    padding: 5px;
    margin: 3px;
}

.question-answered { background-color: #D0F5A9; }

.author { font-weight: bold; }

.message-content { font-style: italic; }

.chat-ended {
    font-style: italic;
    text-align: center;
}

/* QUIZ STYLE */
#no-quiz-container {
    display: flex;
    justify-content: center;
}

#no-quiz-container .fa-question{
    color: gray;
}

#no-quiz-container .fa-ban {
    color: red;
    opacity: 0.5;
}

#answer-quiz-button {
    margin-top: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0) and (min-resolution: 2.0dppx),
screen and (-webkit-min-device-pixel-ratio: 1.3),
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-webkit-min-device-pixel-ratio: 2.0),
screen and (-webkit-min-device-pixel-ratio: 3.0) {
    body {
        width: 100%;
        height: 100%;
        margin: auto;
        background-color: white;
    }

    #page {
        width: 100%;
        margin: auto;
    }

    #header { width: 100%; }

    #content {
        width: 95%;
        margin: auto;
        border: 0px;
        border-radius: 0;
    }
}